@page "/blazorjs"
@inject IJSRuntime JSRuntime

<h3>BlazorJS</h3>

<div class="row">
    <button class="btn btn-secondary" @onclick="TestConfirmBox">Test confirm Button</button>
</div>
<div class="row">
    @if (ConfirmResult)
    {
        <p>Confirmation has been made!</p>
    } else
    {
        <p>Confirmation pending!</p>
    }
</div>
    

@code {

    private string confirmMessage = "Are you sure you want to click?";
    private bool ConfirmResult { get; set; }

    private async Task TestConfirmBox()
    {

        ConfirmResult = await JSRuntime.InvokeAsync<bool>("confirm", confirmMessage);

    } 

}
