@page "/ParentComponent"

<h1 class="text-danger">Parent Child Component</h1>

<ChildComponent OnClickBtnMethod="@ShowMessage" Title="This title come from ParentComponent">
    <ChildContent>
        Render Fragment with ChildContent From Parent! WooHOO!
    </ChildContent>
    @*<DangerChildContent>
        Render Fragment with DangerChildContent From Parent! WooHOO!
    </DangerChildContent>*@
</ChildComponent>

<p><b>@messageText</b></p>


@code {

    private string messageText = "";

    private void ShowMessage(MouseEventArgs e)
    {
        messageText = "Blazzing text from parent";
    }

}
